
<div class="container h-100 d-flex justify-content-center">
    <div style="background:lightblue !important" class="jumbotron my-auto text-center">
        <h1>Welcome to CarInsurance</h1>
    </div>
    <div class="display-3 my-auto text-center">
        @Html.ActionLink("Get your free quote started today!", "Create", "Insuree")
    </div>
</div>

<div class="text-center">
    @Html.ActionLink("Admin - Click Here", "Index", "Admin")
</div>